@model PFA.Models.Categorie

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Ajouter une Catégorie</title>
</head>
<body class="container-creation">
    <div class="a">
        <h4>Ajouter une Catégorie</h4>
        <form class="creation" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NomCategorie" class="control-label">Nom de Catégorie</label>
                <input asp-for="NomCategorie" class="form-control" />
                <span asp-validation-for="NomCategorie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DescriptionCat" class="control-label">Description de la Catégorie</label>
                <textarea asp-for="DescriptionCat" class="form-control" rows="4"></textarea>
                <span asp-validation-for="DescriptionCat" class="text-danger"></span>
            </div>

            <button type="submit">Ajouter</button>
        </form>
    </div>

    <div class="container mt-3">
        <a asp-action="Index" class="btn btn-retour ">Retour à la liste</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
